<div class="flex gap-4 pt-2">
  <a
    href="#"
    class="text-xl text-gray-400 hover:text-text transition-colors duration-500 hover:scale-110"
  >
    <i class="ri-github-fill"></i>
  </a>
  <a
    href="#"
    class="text-xl text-gray-400 hover:text-text transition-colors duration-500 hover:scale-110"
  >
    <i class="ri-linkedin-fill"></i>
  </a>
  <a
    href="#"
    class="text-xl text-gray-400 hover:text-text transition-colors duration-500 hover:scale-110"
  >
    <i class="ri-twitter-x-fill"></i>
  </a>
  <a
    href="#"
    class="text-xl text-gray-400 hover:text-text transition-colors duration-500 hover:scale-110"
  >
    <i class="ri-dribbble-line"></i>
  </a>
</div>
