@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: #09090b;
    --color-text: #fff;
    --color-primary: #02C3BD;
    --color-secondary: #223a4e;
    --color-tertiary: #037171;
    --color-fourth: #009F93;
}

.dark {
    --color-background: #09090b;
    --color-text: #fff;
    --color-primary: #02C3BD;
    --color-secondary: #223a4e;
    --color-tertiary: #037171;
    --color-fourth: #009F93;
}

html {
    scrollbar-color: var(--color-primary) var(--color-background);
    scrollbar-width: thin;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    flex: 1;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Onest", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    animation: gradient 8s linear infinite;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeUp {
    opacity: 0;
    animation: fadeUp 0.8s forwards;
    animation-delay: var(--delay, 0s);
}

.animate-fadeIn {
    opacity: 0;
    animation: fadeIn 1.2s forwards;
    animation-delay: var(--delay, 0s);
}

.profile-card {
    transition: transform 0.5s ease-out;
}

.profile-card:hover {
    transform: translateY(-5px) scale(1.02);
}

.particles-div {
    mask-image:
        linear-gradient(to bottom,
            black 80%,
            transparent)
}

.profile-img {
    mask-image:
        linear-gradient(to bottom,
            black 80%,
            transparent),
        linear-gradient(to bottom right,
            black 70%,
            transparent),
        linear-gradient(to bottom left,
            black 70%,
            transparent);
    mask-composite: intersect;
    -webkit-mask-composite: intersect;
    opacity: 0.8;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-first);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #029a95;
}

::-webkit-scrollbar-corner {
    background: var(--color-bg);
}