---
import Layout from "@/layouts/layout.astro";
import Hero from "@/sections/hero.astro";
import Experience from "@/sections/experience.astro";
import Projects from "@/sections/projects.astro";
import Contact from "@/sections/contact.astro";
import AboutMe from "@/sections/aboutMe.astro";

---

<Layout>
  <section class="scroll-section"><Hero /></section>
  <section class="scroll-section"><AboutMe /></section>
  <section class="scroll-section"><Projects /></section>
  <section class="scroll-section"><Experience /></section>
  <section class="scroll-section"><Contact /></section>
</Layout>

<script src="@/animations/scroll-section/scroll-section.js"></script>
