---
---

<div
  class="relative max-w-md mx-auto md:ml-auto animate-fadeIn"
  style="--delay: 0.5s"
>
  <div class="hero-gradients absolute inset-0 rounded-4xl"></div>
  <div
    class="profile-card relative z-10 border-3 border-second/70 p-4 rounded-[50px] bg-base/20 backdrop-blur-xl hover:border-second transition-all duration-500 shadow-2xl shadow-second/50"
  >
    <img
      src="/images/profile.png"
      alt="Mario Perdomo - Developer Portrait"
      class="w-full h-auto relative profile-img"
    />

    <div
      class="absolute top-4 right-4 w-20 h-20 border-t-3 border-r-3 border-second rounded-tr-4xl"
    >
    </div>
    <div
      class="absolute bottom-4 left-4 w-20 h-20 border-b-3 border-l-3 border-second rounded-bl-4xl"
    >
    </div>
  </div>
</div>
