---
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<div
  class={`relative max-w-md mx-auto md:ml-auto animate-fadeIn ${className}`}
  style="--delay: 0.5s"
>
  <div class="hero-gradients absolute inset-0 rounded-full"></div>
  <div
    class="relative z-10 border-3 border-primary/50 rounded-full bg-background/20 backdrop-blur-xl hover:border-primary hover:shadow-primary/80 transition-all duration-700 shadow-2xl shadow-primary/50"
  >
    <img
      src="/images/profile.webp"
      alt="Mario Perdomo - Developer Portrait"
      class="w-full h-auto relative"
    />
  </div>
</div>
