---
import GradientText from "@/animations/gradientText/gradientText";
import Hamburger from "@/components/hamburguer/hamburger.astro";
import SocialLinks from "@/components/socialLinks/socialLinks.astro";
import "@/styles/navbar.css";

import { useTranslations } from "@/i18n/utils";
import { languageList } from "@/i18n/ui";

const currentLang = Astro.currentLocale || "en";
const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);

const navItems = [
  { title: translateLabels("nav.hero"), href: "#hero" },
  { title: translateLabels("nav.about"), href: "#about" },
  { title: translateLabels("nav.projects"), href: "#projects" },
  { title: translateLabels("nav.experience"), href: "#experience" },
  { title: translateLabels("nav.contact"), href: "#contact" },
  {
    title: translateLabels("nav.resume"),
    href: "https://res.cloudinary.com/ddfabfatl/image/upload/v1747789372/CV_English_ry76dl.pdf",
    external: true,
  },
];
---

<!-- Navbar -->
<nav
  id="navbar"
  class="fixed top-0 left-0 w-full bg-transparent z-10 py-4 px-6 md:px-12 transition-all duration-300"
>
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a
        href="#hero"
        class="flex items-center gap-2 text-2xl font-black text-gradient"
      >
        <GradientText
          colors={["#42d9c8", "#338b80", "#42d9c8", "#338b80"]}
          animationSpeed={10}
          showBorder={false}
          client:load
        >
          <i class="ri-code-s-slash-line"></i>
          mario.dev
        </GradientText>
      </a>
    </div>
  </div>
</nav>

<!-- Hamburger Menu Button -->
<Hamburger />

<!-- Menú Overlay -->
<div id="menu" class="menu-overlay">
  <div class="menu-container">
    <div class="menu-body">
      <!-- Menu Navigation -->
      <div class="menu-nav">
        <div id="nav-links" class="nav-links"></div>
      </div>

      <!-- Menu Footer -->
      <div class="menu-footer">
        <!-- Language selector -->
        <div class="language-selector font-bold text-base md:text-lg">
          <i class="ti ti-world"></i>
          <select
            class=""
            id="language-select"
            class=""
            onchange="window.location.href =
            this.value"
            onfocus="document.getElementById('language-selector').classList.add('open')"
          >
            {
              Object.entries(languageList).map(
                ([key, label]: [string, string]) => (
                  <option value={`/${key}`} selected={key === currentLang}>
                    {label}
                  </option>
                )
              )
            }
          </select>
          <i class="ti ti-chevron-down absolute right-2 pointer-events-none"
          ></i>
        </div>

        <!-- Social Links -->
        <SocialLinks />
      </div>
    </div>
  </div>
</div>

<!-- navItems and currentLang for JavaScript -->
<script define:vars={{ navItems, currentLang }}>
  window.menuData = { navItems, currentLang };
</script>

<!-- Animation Script -->
<script src="/src/animations/navbar/menu-animated.js"></script>
