---
import GradientText from "@/animations/gradientText/gradientText";
import Hamburger from "@/components/hamburguer/hamburger.astro";
import SocialLinks from "@/components/socialLinks/socialLinks.astro";
import "@/styles/navbar.css";
---

<!-- Navbar -->
<nav
  id="navbar"
  class="fixed top-0 left-0 w-full bg-transparent z-10 py-4 px-6 md:px-12 transition-all duration-300"
>
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a
        href="#hero"
        class="flex items-center gap-2 text-2xl font-black text-gradient"
      >
        <GradientText
          colors={["#42d9c8", "#338b80", "#42d9c8", "#338b80"]}
          animationSpeed={10}
          showBorder={false}
          client:load
        >
          <i class="ri-code-s-slash-line"></i>
          mario.dev
        </GradientText>
      </a>
    </div>
  </div>
</nav>

<!-- Hamburger Menu Button -->
<Hamburger />

<!-- Menú Overlay -->
<div id="menu" class="menu-overlay">
  <div class="menu-container">
    <div class="menu-body">
      <!-- Menu Navigation -->
      <div class="menu-nav">
        <div id="nav-links" class="nav-links"></div>
      </div>

      <!-- Menu Footer -->
      <div class="menu-footer">
        <!-- Language selector -->
        <div id="language-selector" class="language-selector font-bold text-base md:text-lg">
          <i class="ti ti-world"></i>
          <span id="language-text">English</span>
        </div>

        <!-- Social Links -->
        <SocialLinks />
      </div>
    </div>
  </div>
</div>

<!-- Animation Script -->
<script src="/src/animations/navbar/menu-animated.js"></script>
<script src="/src/components/language/language.js"></script>