---
import GradientText from "@/animations/gradientText/gradientText";
import Hamburger from "@/components/hamburguer/hamburger.astro";
import SocialLinks from "@/components/socialLinks/socialLinks.astro";
import "@/styles/navbar.css";
---

<nav
  id="navbar"
  class="fixed bg-background w-[calc(100%-16px)] md:w-[calc(100%-17px)] top-0 left-0 z-10 transition-all duration-300 py-2 px-6 md:px-12"
>
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <a
        href="#hero"
        class="text-2xl font-black text-gradient flex items-center gap-2"
      >
        <GradientText
          colors={["#42d9c8", "#338b80", "#42d9c8", "#338b80"]}
          animationSpeed={10}
          showBorder={false}
          className=""
          client:load
        >
          <i class="ri-code-s-slash-line"></i>
          mario.dev
        </GradientText>
      </a>
      <Hamburger />
    </div>
  </div>
</nav>

<!-- Curved Navigation Menu -->
<div id="curved-menu" class="menu-overlay">
  <div class="menu-container">
    <div class="menu-body">
      <div class="menu-nav">
        <div id="nav-links" class="nav-links"></div>
      </div>

      <div class="menu-footer">
        <SocialLinks />
        <div class="flex items-center gap-2 justify-center">
          <i class="ti ti-world"></i>
          <span>Language</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/animations/navbar/menu-animated.js"></script>