---
import Footer from "@/sections/footer.astro";
import Navbar from "@/sections/navbar.astro";
import "@/styles/global.css";
import AnimatedBackground from "@/animations/background/background";

const currentLang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={currentLang} class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mario Dev</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

    <meta
      name="description"
      content="Portfolio de Mario Dev, desarrollador web"
    />
  </head>
  <body>
    <AnimatedBackground client:load />
    <Navbar />
    <main class="mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
