---
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mario Dev</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta
      name="description"
      content="Portfolio de Mario Dev, desarrollador web"
    />
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
